div.foo {
	display:flex;
	flex:wrap;
	flex-direction: column;
}

div.foo:first-child span {
	margin-right: 0;
}

.foo + .foo {
	margin-left: 5px;
}

div.bar {
	display:flex;
	justify-content: center;
	padding: 5px;
}

.foo span {
	background-color: red;
	margin: 5px 0;
	width: 100px;
}

.foo:first-child {
	text-align: right;
}