a.button {
  background-color: blue;
  border: none;
  border-radius: 10px;
  padding: 1em; }

a.button.warning {
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 1em; }

/*

This type of comment does show up in the css file.

*/
